*{
	margin:0px;
	padding:0px;
	font-family:"Century Gothic";
}
::-webkit-scrollbar{
    width:5px;
	height:5px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb{
    background:rgba(231,180,79,0.8);
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive{
	background:rgba(231,180,79,0.4);
}
hr{
	width:900px;
	border-color:#E7B44F;
}
#dPrincipal{
	width:900px;
	margin:auto;
}
#dTopo img{
	width:115px;
	margin-left:50px;
}
#dRodape{
	clear:both;
}
#dRodape p{
	text-align:center;
	color:#7F7F7F;
	font-size:14px;
	margin:10px;
}