.dtitulo{
	height:40px;
	margin-top: 35px;
	border-bottom: 6px solid #E7B44F;
	border-left: 20px solid #E7B44F;
	font-size:30px;
	font-family:CeL;
	color:#7F7F7F;
}

.dtitulo p{
	margin: 5px auto auto 5px;
		
}
#msg{
	text-align:center;
	color:#E7B44F;
	font-size:16px;
}
#dRest{
	width:	880px;
	height: 180px;
	margin-bottom: 10px;
	margin-top: 30px;
	border: 1px solid #FFFFFF;
	border-radius: 50px 50px 50px 50px;
	float:center;
	box-shadow: 2px 2px 5px #DBDBDB;
	-webkit-box-shadow: 2px 2px 5px #DBDBDB;
	-moz-box-shadow:  2px 2px 5px #DBDBDB;
}

#dCirculo{
	background-color: #FFFFFF;
	border-radius: 100px;
	margin: 20px 25px 0px 35px;
	width:	140px;
	height: 140px;
	float: left;
	text-align: center;
}

#dImgC{
	border-radius: 100px;
	text-align: center;
	width:	140px;
	height: 140px;
	
}

#dTexto{
	color:#7f7f7f;
	width:	350px;
	height: 150px;
	float: left;
	text-align: left;
	margin: 30px 20px 0px 0px;
}
#site{
	color:#7f7f7f;
}
#dEstrela{
	float: left;
	text-align: left;
	width: 130px;
	height: 200px;
	font-size: 20px;
	color: #E7B44F;
	
}

#ImgE{
	margin: 45px 50px 0px 0px;
	width: 80px;
	height: 60px;
}
#PE{
	margin-left:20px;
	font-size:25px;
}

#dcurtir{
	height:120px;
	width:120px;
	margin: 30px auto auto 10px;
	float:left;
	
 }
#dcurtir #curtir{
	height:120px;
	width:130px;
 }
#tcomentarios{
	font-size:18px;
	margin-top: 10px;
	width:400px;
} 

#comentar {
	resize:none;
	height:50px;
	border-radius:0px 15px 15px 15px;
	font-size:15px;
}

#formComentario button{
	width:50px;
	height:25px;
	cursor:pointer;
	font-size:16px;
	border-radius:5px;
	border: 1px solid #E7B44F;
	box-shadow: 2px 2px 5px #DBDBDB;
	background-color:#E7B44F;
	margin:1px 50px 2px 5px;
	float:left;
	color:white;
	
}

.dComentario{
	margin-top:10px;
	margin-left:40px;
	font-size:15px;	
	float:left;
	
}
.dPalavras{
	margin-top:2px;
	border:1px solid #DBDBDB;
	border-radius:0px 25px 25px 25px ;
	width:800px;
	height:70px;
	padding:5px;
	font-size:15px;
	font-family: CeL, Century Gothic;
	box-shadow: 2px 2px 5px #DBDBDB;
	-webkit-box-shadow: 2px 2px 5px #DBDBDB;
	-moz-box-shadow:  2px 2px 5px #DBDBDB;
}
.dvm{
	width:808px;
	height:30px;
	background-color:#E7B44F;
	text-align:center;
	margin:15px auto 10px 42px;
	float:left;
	
}
.dvm p{
	padding-top:5px;
	font-size: 15px;