@font-face{
	font-family:Rexb;
	src:url(../fontes/Rexb.otf);
}
#slide{
	width:900px;
	height:400px;
	margin:20px 0px 10px 0px;
	background-color:black;	
}
#dsobre{
	width:900px;
	height:390px;
	margin:10px 0px 10px 0px;
	border-top:5px dashed #E7B44F;
	border-bottom:5px dashed #E7B44F;
}
.titulo{
	color:#E7B44F;
	font-family:Century Gothic;
	font-weight:bolder;
	font-size:22px;
	margin:20px 20px auto 20px;
}
.resposta{
	font-size: 18px;
	text-align:justify;
	margin:10px 20px 30px 20px;
	list-style:none;
	line-height:23px
}

ul .li{
	margin:5px 30px auto 30px;
	list-style:none;
}
.destaque{
	font-weight:bolder;
	color:#5D5A5E;
}
#faq{
	font-size:30px;
	text-align:center;
	margin-top:15px;
	color:#31343B;
}
.links{
	text-decoration:none;
	color:#BA7C0D;
}
#dfotos {
	border-top:5px dashed #E7B44F;
	
	
}

.fotinhos{
	width:297px;
	height:200px;
	margin:20px 0px 0px 0px;
	
}

#dfotos img{
	opacity:0.5;
	filter:alpha(opacity=50);
}

#dfotos img:hover{
	opacity:1;
	filter:alpha(opacity=100);
}
